<!-- Para mostrar el array tal cual en formato json -->
<!-- <pre>    
    {{
        products | json
    }}
</pre> -->


<!-- Maquetar usando angular materials -->
<section class="products">
    <!-- Recorre el array products del .ts, interpola cada producto con la propiedad deseada -->
    <mat-card class="card" *ngFor="let product of products">
        <mat-card-header>{{product.name}}</mat-card-header>
        <mat-card-content>{{product.description}}</mat-card-content>
        <mat-card-actions>
            <!-- Boton Compra con Icono Carrito -->
            <button mat-flat-button color="primary">
                Buy {{product.price | currency}}
                <mat-icon>add_shopping_cart</mat-icon>
            </button>            
        </mat-card-actions>
    </mat-card>
</section>